doctype html
html(lang='es')
    head
        title(state-title) Internet status check
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        link(rel='stylesheet', href='/css/bootstrap.min.css')

    body
        .navbar.navbar-default
            .container-fluid
                .navbar-brand Internet Status Check

        .container
            table.table.table-striped
                thead
                    tr
                        th Date
                        th Download Speed
                        th Upload Speed
                        th Server
                tbody
                    each row in data
                        tr
                            th= row.date
                            th= row.download
                            th= row.upload
                            th= row.host

        script(src="/jquery.min.js")
        script(src="/js/bootstrap.min.js")
